services:
    db:
        image: postgres:16-alpine
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
        ports:
            - '5433:5432'
        volumes:
            - postgres13:/var/lib/postgresql/data
    redis:
        image: redis:7.0.15-alpine
        ports:
            - '6379:6379'
        volumes:
            - redis_data:/data
    web:
        tty: true
        stdin_open: true
        build: .
        command: bundle exec rails server -b 0.0.0.0
        volumes:
            - .:/rails
        ports:
            - "3000:3000"
        depends_on:
            - db
            - redis
        environment:
            - DATABASE_URL=postgresql://postgres:password@db:5432
            - REDIS_URL=redis://redis:6379/0
        env_file:
            - .env
    sidekiq:
        build: .
        command: bundle exec sidekiq
        volumes:
            - .:/rails
        depends_on:
            - db
            - redis
        environment:
            - DATABASE_URL=postgresql://postgres:password@db:5432
            - REDIS_URL=redis://redis:6379/0
        env_file:
            - .env
    rspec:
        build: .
        command: bundle exec rspec
        volumes:
            - .:/rails
        depends_on:
            - db
            - redis
        environment:
            - DATABASE_URL=postgresql://postgres:password@db:5432
            - REDIS_URL=redis://redis:6379/0
        env_file:
            - .env

volumes:
    postgres13:
    redis_data:
